#gbm {
	width: 100px;
	height: 100px;
	line-height: 100px;
	background-color: darkorange;
	color: turquoise;
	text-align: center;
	border-radius: 5px;
	transition: 0.2s;
}
.debris {
	display: none;   
	position: absolute;
	width: 28px;
	height: 28px;
	background-color: #ff00ff;
	opacity: 1.0;
	overflow: hidden;
	border-radius: 8px;
}
#dog {
	display: none;
	position: fixed;
	top: 200px;
	right: 400px;
}
